<footer class="footer py-3 bg-dark">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            <span class="text-light">&copy; 2021  </span> <a href="">BR</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="/contact/" class="nav-link">Our Team</a>
            </li>
            <li class="nav-item">
              <a href="/contact/" class="nav-link">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>